<?php
    $dbconfig = array(
        'db_host' => 'db',
        'db_username' => 'root',
        'db_password' => 'pass@123',
        'db_name' => 'egrocery',
        'db_port' => '3306'
    );

    $pageData = array(
        'domain' => 'http://localhost:8000/',
        'mobile' => '0771617400',
        'email' => 'sahanmadusha001@gmail.com',
    );
?>
